streamlit>=1.42.0
streamlit_code_editor
streamlit-agraph
llama-index
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai
langchain
langchain-openai
scikit-learn
docx
python-docx
plotly
kaleido
pygwalker
openpyxl
streamlit-oauth
bcrypt
couchdb
docx2txt
pypdf